package components

templ IndexPage() {
    @layout() {
        <div class="justify-center items-center min-h-screen flex bg-red-100">
            <text class="text-8xl font-extrabold text-gray-900">
                gotex - go templ htmx
            </text>
        </div>
    }
}
